.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.953613;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.860352;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-2054.500305px;}
._2{margin-left:-2.559875px;}
._1{margin-left:-1.148842px;}
._0{width:64.100000px;}
._4{width:118.916000px;}
._5{width:1489.780305px;}
._6{width:1491.561555px;}
.fca{color:rgb(0,32,96);}
.fcb{color:rgb(116,79,76);}
.fc3{color:rgb(0,0,0);}
.fc7{color:rgb(29,70,156);}
.fc2{color:rgb(255,0,0);}
.fc4{color:rgb(12,155,116);}
.fc1{color:rgb(0,92,117);}
.fc0{color:rgb(4,92,117);}
.fc5{color:rgb(85,168,57);}
.fc6{color:rgb(0,157,217);}
.fc8{color:rgb(0,176,80);}
.fc9{color:rgb(255,255,255);}
.fs0{font-size:48.000000px;}
.fs8{font-size:56.000000px;}
.fs6{font-size:60.000000px;}
.fs4{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fs5{font-size:74.000000px;}
.fs2{font-size:76.000000px;}
.fs7{font-size:79.199997px;}
.fs9{font-size:80.000000px;}
.fs1{font-size:128.000000px;}
.y1f{bottom:-7.488724px;}
.y0{bottom:0.000000px;}
.y2{bottom:4.481861px;}
.y1{bottom:15.231861px;}
.y2b{bottom:18.651566px;}
.y33{bottom:37.652542px;}
.y2a{bottom:40.251572px;}
.y5a{bottom:43.257900px;}
.y55{bottom:51.732834px;}
.y5d{bottom:54.757900px;}
.y32{bottom:59.252548px;}
.y5e{bottom:59.507900px;}
.y29{bottom:61.851578px;}
.y5c{bottom:64.007900px;}
.y14{bottom:99.589096px;}
.y4a{bottom:101.227585px;}
.y28{bottom:106.486069px;}
.y54{bottom:115.214066px;}
.y40{bottom:124.659866px;}
.y3f{bottom:142.659866px;}
.y53{bottom:146.814072px;}
.ye{bottom:150.655060px;}
.y27{bottom:155.595596px;}
.y3e{bottom:160.659866px;}
.y13{bottom:162.789108px;}
.y49{bottom:166.027603px;}
.y31{bottom:171.471634px;}
.y52{bottom:178.414078px;}
.y3d{bottom:178.659865px;}
.y26{bottom:200.230087px;}
.yd{bottom:207.614868px;}
.y48{bottom:209.227615px;}
.y30{bottom:214.671646px;}
.y12{bottom:225.989120px;}
.y25{bottom:227.739609px;}
.y36{bottom:230.183060px;}
.y47{bottom:230.827621px;}
.y38{bottom:232.713562px;}
.y7{bottom:240.117935px;}
.y51{bottom:241.332870px;}
.y24{bottom:249.339630px;}
.y35{bottom:252.683060px;}
.y58{bottom:256.810959px;}
.y2f{bottom:257.871674px;}
.y37{bottom:262.413574px;}
.y50{bottom:273.214096px;}
.y46{bottom:274.027649px;}
.yc{bottom:275.998886px;}
.y6{bottom:277.985199px;}
.y1e{bottom:281.951263px;}
.y11{bottom:289.189133px;}
.y23{bottom:293.974106px;}
.y45{bottom:295.627655px;}
.yb{bottom:300.190887px;}
.y2e{bottom:301.071671px;}
.y4f{bottom:304.814102px;}
.y1d{bottom:309.968292px;}
.y1b{bottom:310.035767px;}
.y1c{bottom:310.895264px;}
.y3c{bottom:312.809769px;}
.y44{bottom:317.227661px;}
.y4{bottom:320.118515px;}
.y5{bottom:320.993195px;}
.y3b{bottom:330.809765px;}
.y2d{bottom:344.271667px;}
.y3a{bottom:348.809765px;}
.y10{bottom:352.389130px;}
.y22{bottom:353.083649px;}
.y43{bottom:360.427658px;}
.y39{bottom:366.809764px;}
.y4e{bottom:367.732880px;}
.ya{bottom:368.574883px;}
.y1a{bottom:368.783257px;}
.y3{bottom:374.001190px;}
.y21{bottom:374.683647px;}
.y42{bottom:382.027649px;}
.y2c{bottom:387.471664px;}
.y57{bottom:392.598869px;}
.y9{bottom:392.766884px;}
.y19{bottom:397.727257px;}
.y17{bottom:397.944611px;}
.y4d{bottom:399.614098px;}
.yf{bottom:415.589130px;}
.y20{bottom:419.318123px;}
.y16{bottom:419.544609px;}
.y41{bottom:425.227646px;}
.y18{bottom:426.671257px;}
.y4c{bottom:431.214100px;}
.y56{bottom:451.210957px;}
.y15{bottom:461.238337px;}
.y4b{bottom:487.113373px;}
.y5b{bottom:489.488335px;}
.y59{bottom:489.613373px;}
.y34{bottom:499.113373px;}
.y8{bottom:505.113373px;}
.h1{height:33.351562px;}
.hb{height:35.320312px;}
.hd{height:41.480469px;}
.h9{height:44.150391px;}
.h8{height:48.796875px;}
.h5{height:50.027344px;}
.h3{height:51.507812px;}
.h4{height:52.136719px;}
.h7{height:52.970703px;}
.hc{height:53.332031px;}
.he{height:54.218750px;}
.ha{height:58.278513px;}
.h2{height:86.750000px;}
.h6{height:94.812500px;}
.h0{height:540.000000px;}
.w1{width:780.000000px;}
.w0{width:780.125061px;}
.x0{left:0.000000px;}
.xe{left:1.211639px;}
.x20{left:5.961639px;}
.x6{left:7.086609px;}
.x1a{left:13.859863px;}
.x7{left:42.859833px;}
.xb{left:46.575043px;}
.x9{left:48.984863px;}
.x1b{left:60.859833px;}
.x8{left:65.359833px;}
.xc{left:69.075043px;}
.x1d{left:95.109863px;}
.x3{left:108.609833px;}
.xd{left:111.484863px;}
.x1e{left:131.109863px;}
.xf{left:138.890106px;}
.x4{left:145.484512px;}
.x1f{left:162.984863px;}
.x2{left:228.125046px;}
.x5{left:252.609833px;}
.xa{left:261.961639px;}
.x14{left:278.164536px;}
.x15{left:283.186028px;}
.x18{left:307.135544px;}
.x22{left:311.484894px;}
.x21{left:312.984894px;}
.x12{left:314.584465px;}
.x13{left:324.990715px;}
.x17{left:329.590614px;}
.x19{left:337.337685px;}
.x16{left:349.782021px;}
.x10{left:597.932838px;}
.x11{left:601.182796px;}
.x1c{left:729.125061px;}
.x1{left:735.125061px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-2739.333740pt;}
._2{margin-left:-3.413167pt;}
._1{margin-left:-1.531790pt;}
._0{width:85.466667pt;}
._4{width:158.554667pt;}
._5{width:1986.373740pt;}
._6{width:1988.748740pt;}
.fs0{font-size:64.000000pt;}
.fs8{font-size:74.666667pt;}
.fs6{font-size:80.000000pt;}
.fs4{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fs5{font-size:98.666667pt;}
.fs2{font-size:101.333333pt;}
.fs7{font-size:105.599996pt;}
.fs9{font-size:106.666667pt;}
.fs1{font-size:170.666667pt;}
.y1f{bottom:-9.984965pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:5.975815pt;}
.y1{bottom:20.309148pt;}
.y2b{bottom:24.868754pt;}
.y33{bottom:50.203389pt;}
.y2a{bottom:53.668762pt;}
.y5a{bottom:57.677200pt;}
.y55{bottom:68.977112pt;}
.y5d{bottom:73.010534pt;}
.y32{bottom:79.003398pt;}
.y5e{bottom:79.343867pt;}
.y29{bottom:82.468770pt;}
.y5c{bottom:85.343867pt;}
.y14{bottom:132.785461pt;}
.y4a{bottom:134.970113pt;}
.y28{bottom:141.981425pt;}
.y54{bottom:153.618754pt;}
.y40{bottom:166.213155pt;}
.y3f{bottom:190.213155pt;}
.y53{bottom:195.752096pt;}
.ye{bottom:200.873413pt;}
.y27{bottom:207.460795pt;}
.y3e{bottom:214.213155pt;}
.y13{bottom:217.052144pt;}
.y49{bottom:221.370138pt;}
.y31{bottom:228.628845pt;}
.y52{bottom:237.885437pt;}
.y3d{bottom:238.213154pt;}
.y26{bottom:266.973450pt;}
.yd{bottom:276.819824pt;}
.y48{bottom:278.970154pt;}
.y30{bottom:286.228861pt;}
.y12{bottom:301.318827pt;}
.y25{bottom:303.652812pt;}
.y36{bottom:306.910746pt;}
.y47{bottom:307.770162pt;}
.y38{bottom:310.284749pt;}
.y7{bottom:320.157247pt;}
.y51{bottom:321.777161pt;}
.y24{bottom:332.452840pt;}
.y35{bottom:336.910746pt;}
.y58{bottom:342.414612pt;}
.y2f{bottom:343.828898pt;}
.y37{bottom:349.884766pt;}
.y50{bottom:364.285461pt;}
.y46{bottom:365.370199pt;}
.yc{bottom:367.998515pt;}
.y6{bottom:370.646932pt;}
.y1e{bottom:375.935018pt;}
.y11{bottom:385.585510pt;}
.y23{bottom:391.965474pt;}
.y45{bottom:394.170207pt;}
.yb{bottom:400.254517pt;}
.y2e{bottom:401.428894pt;}
.y4f{bottom:406.418803pt;}
.y1d{bottom:413.291056pt;}
.y1b{bottom:413.381022pt;}
.y1c{bottom:414.527018pt;}
.y3c{bottom:417.079692pt;}
.y44{bottom:422.970215pt;}
.y4{bottom:426.824687pt;}
.y5{bottom:427.990926pt;}
.y3b{bottom:441.079686pt;}
.y2d{bottom:459.028890pt;}
.y3a{bottom:465.079686pt;}
.y10{bottom:469.852173pt;}
.y22{bottom:470.778198pt;}
.y43{bottom:480.570211pt;}
.y39{bottom:489.079685pt;}
.y4e{bottom:490.310506pt;}
.ya{bottom:491.433177pt;}
.y1a{bottom:491.711009pt;}
.y3{bottom:498.668254pt;}
.y21{bottom:499.578196pt;}
.y42{bottom:509.370199pt;}
.y2c{bottom:516.628886pt;}
.y57{bottom:523.465159pt;}
.y9{bottom:523.689178pt;}
.y19{bottom:530.303009pt;}
.y17{bottom:530.592814pt;}
.y4d{bottom:532.818797pt;}
.yf{bottom:554.118841pt;}
.y20{bottom:559.090830pt;}
.y16{bottom:559.392812pt;}
.y41{bottom:566.970194pt;}
.y18{bottom:568.895009pt;}
.y4c{bottom:574.952133pt;}
.y56{bottom:601.614609pt;}
.y15{bottom:614.984449pt;}
.y4b{bottom:649.484497pt;}
.y5b{bottom:652.651113pt;}
.y59{bottom:652.817830pt;}
.y34{bottom:665.484497pt;}
.y8{bottom:673.484497pt;}
.h1{height:44.468750pt;}
.hb{height:47.093750pt;}
.hd{height:55.307292pt;}
.h9{height:58.867188pt;}
.h8{height:65.062500pt;}
.h5{height:66.703125pt;}
.h3{height:68.677083pt;}
.h4{height:69.515625pt;}
.h7{height:70.627604pt;}
.hc{height:71.109375pt;}
.he{height:72.291667pt;}
.ha{height:77.704685pt;}
.h2{height:115.666667pt;}
.h6{height:126.416667pt;}
.h0{height:720.000000pt;}
.w1{width:1040.000000pt;}
.w0{width:1040.166748pt;}
.x0{left:0.000000pt;}
.xe{left:1.615519pt;}
.x20{left:7.948853pt;}
.x6{left:9.448812pt;}
.x1a{left:18.479818pt;}
.x7{left:57.146444pt;}
.xb{left:62.100057pt;}
.x9{left:65.313151pt;}
.x1b{left:81.146444pt;}
.x8{left:87.146444pt;}
.xc{left:92.100057pt;}
.x1d{left:126.813151pt;}
.x3{left:144.813110pt;}
.xd{left:148.646484pt;}
.x1e{left:174.813151pt;}
.xf{left:185.186808pt;}
.x4{left:193.979350pt;}
.x1f{left:217.313151pt;}
.x2{left:304.166728pt;}
.x5{left:336.813110pt;}
.xa{left:349.282186pt;}
.x14{left:370.886047pt;}
.x15{left:377.581370pt;}
.x18{left:409.514058pt;}
.x22{left:415.313192pt;}
.x21{left:417.313192pt;}
.x12{left:419.445953pt;}
.x13{left:433.320953pt;}
.x17{left:439.454152pt;}
.x19{left:449.783580pt;}
.x16{left:466.376027pt;}
.x10{left:797.243785pt;}
.x11{left:801.577062pt;}
.x1c{left:972.166748pt;}
.x1{left:980.166748pt;}
}
